{:paths ["src"]
 :deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}
        io.github.Semi-0/lain-infrastructure
        {:git/url "https://github.com/Semi-0/lain-infrastructure.git"
         :git/sha "12112d2bd937dd968f143bcd85f9656ed026ddb3"}
        io.github.Semi-0/lain-compiler
        {:git/url "https://github.com/Semi-0/lain-compiler.git"
         :git/sha "1e288c27e302521c665abf8d38f5eb8310a046c8"}
        io.github.Semi-0/lain-runtime-clojure
        {:git/url "https://github.com/Semi-0/lain-runtime-clojure.git"
         :git/sha "1885deb38d6c43d3f70ff82ffc4c1ec03b90b73d"}
        io.github.TimoKramer/charm.clj
        {:git/url "https://github.com/TimoKramer/charm.clj"
         :git/sha "38e6823dc85ec932eefe2ad9c1f204307674c24f"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "run-tests"]}
           :bench {:extra-paths ["dev/bench"]}
           :example/visualization {:main-opts ["-m" "examples.lain.visualization-combinators.demo"]}
           :example/static-call-graph {:main-opts ["-m" "examples.lain.static-call-graph.main"]}
           :xr {:main-opts ["-m" "propagators.tui.graph.xr-server"]}}}
