{:paths ["src"]
 :deps {clj-kondo/clj-kondo {:mvn/version "2026.08.04"}
        io.github.Semi-0/lain-infrastructure
        {:git/url "https://github.com/Semi-0/lain-infrastructure.git"
         :git/sha "6b031cf71df7a27a71e52c14cf1227904f637a13"}
        io.github.Semi-0/lain-compiler
        {:git/url "https://github.com/Semi-0/lain-compiler.git"
         :git/sha "b9806338dfeea418210733b748ebce38f23c561b"}
        io.github.Semi-0/lain-runtime-clojure
        {:git/url "https://github.com/Semi-0/lain-runtime-clojure.git"
         :git/sha "473876b1433d312a3f58b3d9ab13c1afe6d91edf"}
        io.github.TimoKramer/charm.clj
        {:git/url "https://github.com/TimoKramer/charm.clj"
         :git/sha "38e6823dc85ec932eefe2ad9c1f204307674c24f"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "run-tests"]}
           :bench {:extra-paths ["dev/bench"]}
           :example/visualization {:main-opts ["-m" "examples.lain.visualization-combinators.demo"]}
           :example/static-call-graph {:main-opts ["-m" "examples.lain.static-call-graph.main"]}
           :xr {:main-opts ["-m" "propagators.tui.graph.xr-server"]}}}
